body, .App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(lightblue, lightgreen);
}

.Board {
  display: flex;
  background-image: linear-gradient(to bottom right, lightyellow, lightpink);
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.Box {
  background-color: pink;
  width: 10px;
  height: 10px;
  color: white;
  font-size: 3px;
}

.true {
  background-color: lightgreen;
}

.false {
  background-color: lightpink;
}